---
import { DATE_OF_BIRTH, NAME } from "../../../constants/personal.constants";
import DATA from "../../../data/data.ts";
import DUAvatar from "./DUAvatar.astro";
import DUDynamicUsername from "./DUDynamicUsername.astro";
import DUBadge from "./DUBadge.astro";
import { getAge } from "../../../utils/general.utils";
import { AGE_BADGE_NAME, DAISYUI_BUTTON_COLORS } from "../../../constants/daisyui.constants";
import DUSocialButton from "./DUSocialButton.astro";
import DUTooltip from "./DUTooltip.astro";

---
<div class="card bg-base-100 w-96 shadow-sm">
  <div class="card-body">
    <div class="flex flex-row align-middle items-center-safe justify-items-center-safe">
        <div class="mr-4">
            <DUAvatar 
                color="ring-primary"
                imageURL="/images/pfp.png"
                imageALT={NAME}
                imageSize={30}
                imageSizeClass="w-30"
            />
        </div>
        <div>
            <h2 class="card-title text-primary">
                {NAME}
                <DUTooltip text="Edad">
                    <DUBadge
                        color="badge-accent"
                        content={String(getAge(DATE_OF_BIRTH))}
                        iconName="mdi:cake"
                        textId={AGE_BADGE_NAME}
                    />
                </DUTooltip>
            </h2>
            <DUDynamicUsername links={DATA.socials}/>
            <p class="mb-1">Aspirante ingeniero en informática. Actualmente siguiendo adelante a pesar de los desafíos de la vida.</p>
            <div class="flex flex-row">
            {DATA.socials.map((link, index) => {
                return (<DUSocialButton 
                    color={DAISYUI_BUTTON_COLORS[index % DAISYUI_BUTTON_COLORS.length]}
                    Logo={link.icon} 
                    destination={link.URL}
                    content={link.displayName}
                    margin="mr-2"
                />);
            })}
            </div>
        </div>
    </div>
  </div>
</div>
<script is:inline type="module">
    try {
        const DATE_OF_BIRTH = new Date("2004-09-16");
        const AGE_BADGE_NAME = "age-badge";
        const getAge = (date) => {
        const TODAY = new Date(Date.now());
            var years = TODAY.getFullYear() - date.getFullYear();
            if (!(date.getMonth() <= TODAY.getMonth())) {
                years -= 1;
            }
            return years;
        }
        document.getElementById(AGE_BADGE_NAME).textContent = getAge(DATE_OF_BIRTH);
    } catch (error) {}
</script>