---
import { Icon } from 'astro-icon/components';
import Language from '../../../classes/Language';
import { DAISYUI_TEXT_COLORS, DAISYUI_PROGRESS_COLORS } from '../../../constants/daisyui.constants';
import DUTooltip from '../profilecard/DUTooltip.astro';
import { DEFAULT_COUNTRY, DEFAULT_LANGUAGE_NAME, DEFAULT_LEVEL } from '../../../constants/language.constants';

interface Props {
    language: Language,
    text_color: string,
    proficiency_color: string,
}

const { 
    language = new Language(DEFAULT_LANGUAGE_NAME, DEFAULT_LEVEL, true, DEFAULT_COUNTRY),
    text_color = DAISYUI_TEXT_COLORS[0],
    proficiency_color = DAISYUI_PROGRESS_COLORS[0]
} = Astro.props;
---
<DUTooltip text={`${language.name} (${language.level})`}>
<div class="card bg-base-100 w-20 shadow-sm m-2">
    <div class="w-fit flex flex-col align-middle items-center">
        <h1 class={`${text_color} mb-1`}>{language.name}</h1>
        <Icon 
            name={`${language.countryCode}`}
            class={`text-2xl size-15 ${text_color} ml-2 mr-2 mb-1 rounded-md`}
        />
        <progress class={`progress ${proficiency_color} w-20 mt-1`} value={language.percentage} max={100}></progress>
    </div>
</div>
</DUTooltip>