---
import Layout from "../layouts/Layout.astro";
import DATA from "../data/data";
import { Icon } from "astro-icon/components";
import { DAISYUI_BADGE_COLORS, DIVIDER } from "../constants/daisyui.constants";
import { MESES_ESPANIOL } from "../constants/general.constants";
import DUTooltip from "../components/ui/profilecard/DUTooltip.astro";
import DUBadge from "../components/ui/profilecard/DUBadge.astro";
import PictureAstroComponent from "astro/components/Picture.astro";

const SCHOOL = DATA.education[0];
console.log(SCHOOL);
---

<Layout>
    <DUTooltip text={"Puesto"}>
        <h1 class="text-lg font-bold flex flex-row align-middle items-center">
            <Icon name={SCHOOL.iconName} class="mr-1" /> 
            {SCHOOL.name}
        </h1>
    </DUTooltip>

    
    <p class="text-sm flex flex-row align-middle items-center">
        <DUTooltip text={"Organización"}>
            <span class="text-accent flex flex-row align-middle items-center">
                <Icon name="mdi:school" class="mr-1" /> 
                {SCHOOL.companyName}
            </span>
        </DUTooltip>

        <span class="ml-1 mr-1">{DIVIDER}</span>

        <DUTooltip text={"Ubicación"}>
            <span class="text-info flex flex-row align-middle items-center">
                <Icon name="mdi:location" class="mr-1" /> 
                {SCHOOL.location}
            </span>
        </DUTooltip>
    </p>

    <DUTooltip text={"Tiempo"}>
        <p class="text-sm flex flex-row align-middle items-center">
            <span class="text-secondary flex flex-row align-middle items-center">
                <Icon name="mdi:clock" class="mr-1" /> 
                {MESES_ESPANIOL[SCHOOL.startDate.getMonth()] + " " + SCHOOL.startDate.getFullYear()}
                <Icon name="mdi:arrow-right" class="mr-1 ml-1"></Icon>
                {(SCHOOL.endDate && (
                    MESES_ESPANIOL[SCHOOL.endDate.getMonth()] + " " + SCHOOL.endDate.getFullYear()
                )) || "Presente"}
            </span>
        </p>    
    </DUTooltip>

    {SCHOOL.description ? (
        <p class="mt-2 mb-2">{SCHOOL.description}</p>
    ) : (
        <p class="opacity-50 italic mt-2 mb-2">Descripción no disponible</p>
    )}

    {SCHOOL.imageURL ? (
        <DUTooltip text={`${SCHOOL.companyName}: ${SCHOOL.name}`}>
            <PictureAstroComponent
                class={"mb-2"} 
                src={SCHOOL.imageURL} 
                format="avif" 
                width={640} 
                height={360}
                alt={SCHOOL.companyName + ": " + SCHOOL.name}
            />
        </DUTooltip>
    ) : ("")}

    <div class="flex flex-row flex-wrap mb-2">
        {SCHOOL.relevantCourses.map((course, index) => {
            return (
                <div class="m-0.5">
                <DUTooltip text={String(course).toUpperCase()}>
                <DUBadge 
                    color={DAISYUI_BADGE_COLORS[index % DAISYUI_BADGE_COLORS.length]}
                    content={course}
                    iconName="mdi:class"
                    textId="0"
                />
                </DUTooltip>
                </div>
            )
        })}
    </div>

    <DUTooltip text="Página Web">
        <a href={SCHOOL.websiteURL} target="_blank">
            <span class="link link-primary flex flex-row align-middle items-center">
                <Icon name="mdi:link-variant" class="mr-1" /> 
                {SCHOOL.websiteURL}
            </span>   
        </a>
    </DUTooltip>


</Layout>